In [1]:
import os
import sys
import pandas as pd
from pathlib import Path
from textwrap import wrap
import plotly.express as px

# * get src directory which *must* be parent
dir_src = Path(os.getcwd()).parent.parent

# # * add to path
# if dir_src.as_posix() not in sys.path:
#     sys.path.append(dir_src.as_posix())

# * display / style settings
pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 160
pd.options.display.precision = 2


# * theme settings
THEME = "dark" # 'light'

if THEME == 'dark':
    THEME_PLOTLY="plotly_dark"
else:
    THEME_PLOTLY="plotly"

In [2]:
df_training=pd.read_parquet('data/trainings.pq')
df_records=pd.read_parquet('data/records.pq')

In [4]:
df_training

,Id,Device,Calibration,Software,Date,Time,RecordIntervall,Transmission,Energy,TrainingDateTime,FileName,CreatedAt,Duration_minutes,Streak_days
0,1,SJ10X SKYLON 5,07655-350-2007,3367,11.01.2014,20:09:26,10,9.5,6.0,2014-01-11T20:09:26+01:00,Training 11.01.2014 20h09m26s.xml,2021-01-07 23:58:46.053121,53.17,0
1,2,SJ10X SKYLON 5,07655-350-2007,3367,12.01.2014,18:49:44,10,9.5,6.0,2014-01-12T18:49:44+01:00,Training 12.01.2014 18h49m44s.xml,2021-01-07 23:58:46.053121,56.67,0
2,3,SJ10X SKYLON 5,07655-350-2007,3367,13.01.2014,21:56:13,10,9.5,6.0,2014-01-13T21:56:13+01:00,Training 13.01.2014 21h56m13s.xml,2021-01-07 23:58:46.053121,59.17,0
3,4,SJ10X SKYLON 5,07655-350-2007,3367,14.01.2014,21:09:15,10,9.5,6.0,2014-01-14T21:09:15+01:00,Training 14.01.2014 21h09m15s.xml,2021-01-07 23:58:46.053121,60.00,0
4,5,SJ10X SKYLON 5,07655-350-2007,3367,16.01.2014,21:09:26,10,9.5,6.0,2014-01-16T21:09:26+01:00,Training 16.01.2014 21h09m26s.xml,2021-01-07 23:58:46.053121,58.67,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,1102,SJ10X SKYLON 5,07655-350-2007,3367,24.10.2023,15:51:09,10,9.5,6.0,2023-10-24T15:51:09+01:00,Training 24.10.2023 15h51m09s.xml,2023-11-11 13:28:59.132473,30.00,1
1099,1103,SJ10X SKYLON 5,07655-350-2007,3367,26.10.2023,20:17:34,10,9.5,6.0,2023-10-26T20:17:34+01:00,Training 26.10.2023 20h17m34s.xml,2023-11-11 13:28:59.132473,30.17,0
1100,1104,SJ10X SKYLON 5,07655-350-2007,3367,27.10.2023,16:28:17,10,9.5,6.0,2023-10-27T16:28:17+01:00,Training 27.10.2023 16h28m17s.xml,2023-11-11 13:28:59.132473,30.00,2
1101,1105,SJ10X SKYLON 5,07655-350-2007,3367,29.10.2023,14:28:31,10,9.5,6.0,2023-10-29T14:28:31+01:00,Training 29.10.2023 14h28m31s.xml,2023-11-11 13:28:59.132473,30.17,1
1102,1106,SJ10X SKYLON 5,07655-350-2007,3367,31.10.2023,18:10:44,10,9.5,6.0,2023-10-31T18:10:44+01:00,Training 31.10.2023 18h10m44s.xml,2023-11-11 13:28:59.132473,30.00,1

In [3]:
df_records

,Id,Pulse,Power,RPM,TimePassed_minutes,TimePassed_percent,Score_10sec,TrainingId
0,1,0,50,46,0.17,3.13e-03,1.97e-03,1
1,2,0,150,45,36.17,6.80e-01,5.77e-03,1
2,3,0,150,49,36.00,6.77e-01,6.28e-03,1
3,4,0,150,55,35.83,6.74e-01,7.05e-03,1
4,5,0,150,59,35.67,6.71e-01,7.56e-03,1
...,...,...,...,...,...,...,...,...
214383,214384,138,175,57,29.33,9.78e-01,8.53e-03,1106
214384,214385,137,175,56,29.50,9.83e-01,8.38e-03,1106
214385,214386,134,175,55,29.67,9.89e-01,8.23e-03,1106
214386,214387,134,175,55,29.83,9.94e-01,8.23e-03,1106
214387,214388,132,175,55,30.00,1.00e+00,8.23e-03,1106